// .mat-sidenav-container {
//   height: 100vh;
// }
#appBody {
    // height: 100%;
    padding: 10px 10px 10px 10px;

    @media (max-width:800px) {
        padding: 2px;
    }

    overflow: hidden;
}

.nav-container {
    // height: 100%;
    display: grid;
    grid-template-rows: 10px 1fr;
    // overflow: auto;

    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    top: 65px;

    // overflow: hidden;
}

.nav-screen-mode {
    grid-template-rows: 1fr !important;
    top: 0px !important;
}

// .screen-mode {
//     position: fixed;
//     right: 0;
//     bottom: 0;
//     left: 0;
//     top: 0;
//     overflow: auto;
// }

.mat-sidenav>button,
a {
    width: 100%;
}

.fixed-topnav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100% !important;
}

.sidenav-padding {
    padding-top: 65px;

    @media (max-width:598px) {
        padding-top: 56px;
    }
}

.mat-sidenav-container {
    overflow-x: hidden;
}

.platform-menu {
    &>button {
        width: 100%;
    }
}

.platform-menu-button {
    padding-left: 10px;
    text-align: left;
}