<div *ngIf="navService.Visible" class="top-menu">
    <mat-toolbar >
        <button mat-stroked-button (click)="ToggleExpanded()">
            Menu
        </button>
        <a mat-button class="app-name" routerLink="/">
            {{appName}}
        </a>
        <span style="flex: 1 1 auto;"></span>        
        <mat-icon  *ngIf="!connected" color="warn">signal_cellular_connected_no_internet_4_bar</mat-icon>        
        <button mat-icon-button (click)="OpenInfo()">
            <mat-icon>info</mat-icon>
        </button>        
    </mat-toolbar>
</div>
